<h2>Category</h2>

<p><%= @category.name %></p>
<p><%= @category.description %></p>

<%= link_to "Edit Category", edit_category_path(@category), :class => 'btn btn-primary' %>
<%= link_to "Delete Category", @category, :method => :delete, :class => 'btn btn-danger',
    :data => { :confirm => 'Are you sure you want to delete this category?' } %>
  